<nav class="navbar navbar-expand-md navbar-dark" id="nav">
  <div class="container-fluid">
    <%= link_to "ALPHA", root_path, class: "navbar-brand", id: "logo" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto">
        <li class="nav-item mt-3">
          <%= link_to 'About Page', about_path, class: "nav-link" %>
        </li>
        <li class="nav-item mt-3">
          <%= link_to 'Users', users_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown mt-1" id="dropdown">
          <button class="nav-link dropdown-toggle btn" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Articles
          </button>
          <ul class="dropdown-menu bg-black" aria-labelledby="offcanvasNavbarDropdown">
            <li>
              <% if logged_in? %>
                <%= link_to 'Create New Article', new_article_path, class: "dropdown-item green-text" %>
              <% end %>
            </li>
            <li>
              <%= link_to 'View Articles', articles_path, class: "dropdown-item green-text" %>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown mt-1" id="dropdown">
          <button class="nav-link dropdown-toggle btn" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </button>
          <ul class="dropdown-menu bg-black" aria-labelledby="offcanvasNavbarDropdown">
            <li>
              <% if logged_in? && current_user.admin? %>
                <%= link_to 'Create New Category', new_category_path, class: "dropdown-item green-text" %>
              <% end %>
            </li>
            <li>
              <%= link_to 'View Categories', categories_path, class: "dropdown-item green-text" %>
            </li>
          </ul>
        </li>

        <% if logged_in? %>
          <li class="nav-item dropdown mt-1" id="dropdown">
            <button class="nav-link dropdown-toggle btn" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             <%= '(Admin)' if current_user.admin? %> <%= current_user.username %>
            </button>
            <ul class="dropdown-menu bg-black" aria-labelledby="offcanvasNavbarDropdown">
              <li>
                <%= link_to 'View Profile', user_path(current_user), class: "dropdown-item green-text" %>
              </li>
              <li>
                <%= link_to 'Edit Profile', edit_user_path(current_user), class: "dropdown-item green-text" %>
              </li>
              <li>
                <%= link_to 'Delete Profile', user_path(current_user), class: "dropdown-item text-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
              </li>
            </ul>
          </li>
          <li>
            <%= link_to 'Log Out', logout_path, class: "btn btn-darkgreen mx-2", method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to 'Sign Up', signup_path, class: "btn btn-darkgreen mx-2" %>
          </li>
          <li>
            <%= link_to 'Sign In', login_path, class: "btn btn-darkgreen mx-2" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>